<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		
		<!--- URL do Sistema -->
		<add key="URL_PROJETO" value="C:\\Curso\\Solucao_WiPro\\Teste-backend-CSharp_v3"/>
		
	</appSettings>
</configuration>